.form-container {
    background-color: #f4f4f4;
    padding: 20px;
    max-width: 100%;
    margin: auto;
    margin-top: 60px;
    box-sizing: border-box;
    display: flex; /* Use flexbox to center the form */
    justify-content: center; /* Center the form horizontally */
    align-items: center; /* Center the form vertically */
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    
  
    label {
      margin-bottom: 8px;
      font-weight: bold;
    }
  
    input[type="text"],
    input[type="email"],
    input[type="file"] {
      margin-bottom: 16px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
      box-sizing: border-box;
    }
  
    input[type="file"] {
      position: relative;
      overflow: hidden;
  
      input[type="file"] {
        display: none;
      }
  
      label {
        background-color: #4caf50;
        color: white;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        display: inline-block;
      }
  
      &:hover label {
        background-color: #45a049;
      }
    }
  
    button {
      padding: 10px;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #45a049;
      }
    }
  }
  